# Dependencies
node_modules

# Build output
dist
build
.turbo
.next
storybook-static
screenshots
*.tsbuildinfo

# Generated token artifacts
packages/tokens/build

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.local
